################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/4.0.0.4/packages/Newtonsoft.Json.10.0.3
/4.0.0.4/.vs/WLive/v14/.suo
